.navbar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-inner-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.1rem;
}

.navbar-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar-link {
  color: #4b4646;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.2s;
}

.navbar-link-1 {
  color: #4b4646;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.2s;
  background-image: linear-gradient(90deg, #FF9F1C 0%, #FF3366 33%, #00B4D8 66%, #FF3366 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand img {
  margin-top: 4px;
  height: 42px;
  margin-right: 10px;
}

.navbar-link:hover {
  color: rgb(255 51 102/var(--tw-text-opacity, 1));
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-greeting {
  color: #666;
  font-size: 0.9rem;
}

.navbar-auth-links {
  display: flex;
  gap: 2.5rem;
}

@media (max-width: 768px) {

  .navbar-container,
  .navbar-inner-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    flex-wrap: wrap;
  }
}